*.exe
*.ncb
*.o
*.obj
*.pdb
*.plg
.deps
Makefile
Makefile.in
aclocal.m4
autom4te.cache
config.h
config.log
config.status
configure
depcomp
install-sh
missing
stamp-h1
vbindiff
vbindiff.1
win32/Debug
win32/Release
win32/version.h
